@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

.App {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.App-header {
	background-color: #222222;
	height: 40px;
	padding: 20px;
	color: white;
}

.button {
	height: 40px;
	background-color: #919faf;
	color: #ffffff;
	border: none;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
}

.button-save {
	background-color: #91d6a5;
}

.button:hover {
	cursor: pointer;
	opacity: .7;
}

.margin-right-small {
	margin-right: 5px;
}




